<div
  class="shadow-lg border border-gray-200 flex flex-col w-60 max-h-[380px] h-full m-auto pb-4 rounded-xl transition-transform duration-200 hover:scale-105 hover:shadow-2xl bg-white"
  [id]="product.id"
>
  <div class="relative">
    <img
      [src]="product.image"
      [alt]="product.title"
      class="w-full h-44 object-contain rounded-t-xl"
      loading="lazy"
    />
    <span
      class="absolute top-2 left-2 bg-green-500 text-white text-xs px-2 py-1 rounded-full"
      >Novo</span
    >
  </div>
  <div class="px-5 py-3 flex flex-col flex-1 justify-between space-y-2">
    <h2
      class="text-lg font-bold text-gray-800 truncate"
      title="{{ product.title }}"
    >
      {{ product.title }}
    </h2>
    <p class="text-gray-600 text-sm line-clamp-2">{{ product.description }}</p>
    <div class="flex items-center justify-between mt-2">
      <span class="font-bold text-base text-indigo-600">
        {{ product.price | currency : "BRL" : "symbol" : ".2" }}
      </span>
      <button class="btn" onclick="modal_view_product.showModal()" (click)="onShowDialog()">
        Visualizar
      </button>
    </div>
  </div>
</div>
